.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 20px 10px;
}
.camera-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    /* background-color: blueviolet; */
}
@media (max-width:430px) {
    .camera-container {
        grid-template-columns: repeat(1,1fr) ;
    }
    .shop-container{
        grid-template-columns: 2fr 1fr;
    }
}