.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 20px 10px;
}
.camera-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-top: 20px;
}
.cart-container{
    background-color: rgba(233, 222, 67, 0.253);
    border-radius: 20px;
}
@media screen and (max-width:430px) {
    .shop-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    }
    .cart-container{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .camera-container {
        grid-template-columns: repeat(1,1fr);
    }
    
}