.cart-title{
    text-align: center;
    color: rgb(78, 53, 6);
    font-size: 30px;
}
.selected-camera{
    text-align: center;
    background-color: bisque;
    padding: 10px;
    border-radius: 20px;
}
.random-btn{
    background-color: rgb(238, 203, 150);
    font-weight: 700;
    padding: 7px;
    border-radius: 10px;
    color: rgb(0, 110, 255);
    
}
.random-container{
    display: flex;
    justify-content: center;
}
.random-product{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    color: rgb(66, 17, 5);
}
.clear-btn{
    background-color: rgb(238, 203, 150);
    font-weight: 700;
    padding: 7px;
    border-radius: 10px;
    color: rgb(243, 9, 9);
}
.clear-container{
    display: flex;
    justify-content: center;
    
}