.navbar{
    background-color: #5c5c5c;
    color: white;
    height: 100px;
    width: 100%;
}
.navbar h1{
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    font-size: 38px;
    font-family: "Metamorphous", cursive;
}
