.question-container{
    margin: 70px;
}
.question-1{
    border: 3px solid goldenrod;
    padding: 10px;
}
.question-2{
    border: 3px solid goldenrod;
    padding: 10px;
}
.question-3{
    border: 3px solid goldenrod;
    padding: 10px;
}